<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="../css/portfolio.css" rel="stylesheet">
  <title>Portfolio</title>
</head>

<body style="background-image: url('../images/background.png');">

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

    <a class="navbar-brand" href="/">
      <img src="../images/logo.png" alt="logo" style="width:40px;">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#items" aria-controls="items"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="items">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="">Over mij</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/projecten.html">Projecten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/cv.html">Curriculum Vitae</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/werkplekleren.html">Werkplekleren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/contactformulier.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0 d-flex" style="flex-wrap: wrap;">
    <section class="resume-section p-3 p-lg-5 align-items-center itemovermij">
      <h3>Introductie</h3>
      <p>Hallo ik ben Wout Bertels en ben een student aan het Thomas More in Geel en zit in mijn eerste graduaat jaar
        van netwerkbeheer. </p>
    </section>
    <section class="resume-section p-3 p-lg-5 align-items-center itemovermij">
      <h3>Persoonlijke informatie</h3>
      <p>Geboren te turnhour<br> Woonend in België, 2480 dessel
        <br>+32476212974 <br> Wout.bertels@gmail.com</p>
    </section>
    <section class="resume-section p-3 p-lg-5 align-items-center itemovermij">
      <h3>meer over mij</h3>
      <p width="50%">Ik heb deze opleiding gekozen omdat IT me erg interesseert meer specifiek cyber security , in het
        middelbaar heb verschillende richtingen gedaan om met zoveel mogelijk onderwerpen in contact te komen maar
        uiteindelijk ben ik bij IT terecht gekomen. <br> <br>
        in mijn vrije tijd ben ik ook veel met computers, netwerken en programmeren bezig. Zo heb ik recent zelf mijn
        eigen desktop in elkaar gestoken, Ik heb ook lokaal een server aan op een oude computer met ubuntu server, deze
        server is dan geportforward en wordt gebruikt om samen met vrienden te spelen.
        In mijn portfolio kan je ook nog informatie vinden in verband met enkele projecten. Hierna mijn Curriculum
        Vitae. Als laatste vind je informatie in verband met werkplekleren en een contact formulier voor eventuele
        vragen.</p>
    </section>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>